dist
.cabal-sandbox
cabal.sandbox.config
.DS_Store
.stack-work/
orville.cabal

# Ignore TAGS file produced by emacs and vim.
/TAGS

# Ignore any local developer overrides to the docker-compose file
docker-compose.override.yml
