name: Docsite

on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: ${{ github.ref_name != 'main' }}

defaults:
  run:
    shell: bash

jobs:
  docsite-build:
    name: Build the Docsite
    runs-on: ubuntu-22.04
    permissions:
      packages: write
      contents: read
      actions: read

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache
        uses: actions/cache@v4
        env:
          cache-version: v3

        with:
          key: ${{ env.cache-version }}-docsite-${{ hashFiles( 'orville-docsite/**/stack.yaml', 'orville-docsite/**/*.cabal') }}
          restore-keys: |
            ${{ env.cache-version }}-docsite-
          path: |
            ./stack-root

      - name: Setup Stack
        uses: flipstone/github-actions/setup-dockerized-stack@d3da7b6361e88fc10557f8b6ca9aaf44e13f0f8e
        with:
          stack-root: ../stack-root
          working-directory: orville-docsite

      - name: Run Tests
        working-directory: orville-docsite
        run: ./scripts/build
